/aeson/
/attoparsec/
/blaze-builder/
/cpphs/
/dlist/
/hashable/
/haskell-src-exts/
/haskell-src-meta/
/jmacro/
/parseargs/
/parsec/
/regex-base/
/regex-posix/
/safe/
/syb/
/text/
/th-lift/
/th-orphans/
/unordered-containers/
/wl-pprint-text/
